coma-engine/resources/Sources/OpenTransAll/openbase_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Name:             openbase_1_0.xsd
  Fileversion:      1.0
  Unchanged since:  1.0
  Date:             10.01.2003
  Authors:          Oliver Kelkar   (olk),  Fraunhofer IAO Stuttgart
                    Volker Schmitz  (stz),  Universitaet Essen BLI
                    Sven Sprandel   (spr),  Fraunhofer IAO Stuttgart
                    Stefan Kubitzky (kub),  Universitaet Essen BLI

  Copyright 2003, All Rights Reserved
  Fraunhofer IAO Stuttgart, Universitaet Essen BLI
  
  !! If you've got problems in parsing the identity-constraints !!
  !! please set the marked blocks in commentary tags            !!
  !! ***** START deactivate identity-constraints *****          !!
  !! ***** END deactivate identity-constraints   *****          !!

  openTRANS:
  more infos and full specification: http://www.opentrans.org
  e-mail contact: authors@opentrans.org

  Change history:
  
  1.0 draft -> 1.0:
  10.01.2003  olk: unused include udx.xsd deleted

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified">

	<xsd:include schemaLocation="countries.xsd"/>
	<xsd:include schemaLocation="currencies.xsd"/>
	<xsd:include schemaLocation="lang.xsd"/>
	<xsd:include schemaLocation="punit.xsd"/>
	<xsd:include schemaLocation="unit.xsd"/>

	<xsd:simpleType name="dtBOOLEAN">
		<xsd:restriction base="dtSTRING">
			<xsd:pattern value="[Ff][Aa][Ll][Ss][Ee]|[Tt][Rr][Uu][Ee]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dt_COUNT">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- The xsd:dateTime-datatype of W3C-XSD is a small part of the Datetime-format 
		of ISO 8601 standard, therefore the ISO 8601-Format is modelled separately, 
		Format: CCYY-MM-DDThh:mm:ss.sTZD, see datatype "dtDATETIME"
	-->
	<xsd:simpleType name="dtDATETIME">
		<xsd:restriction base="xsd:string">
 			<xsd:pattern value="\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|1[0-9]|2[0-9]|3[0-1])(T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])(:[0-5][0-9](\.[0-9]{1,}){0,1}){0,1}(([+-]([0-1][0-9]|2[0-3])(:[0-5][0-9]))|Z){0,1}){0,1}){0,1}){0,1}"/> 
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dtFLOAT">
		<xsd:restriction base="xsd:float"/>
	</xsd:simpleType>
	<xsd:simpleType name="dtINTEGER">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="dtNUMBER">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="dtSTRING">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="typeBUYER_AID">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="50"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeCOST_CATEGORY_ID">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="64"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typePAYMENT_TERM">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="250"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeINTERNATIONAL_AID">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="32"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeINTERNATIONAL_RESTRICTIONS">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="250"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typePARTY_ID">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="250"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typePHONE">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="50"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typePUBLIC_KEY">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="64000"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeREMARK">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="64000"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeSPECIAL_TREATMENT_CLASS">
		<xsd:restriction base="dtSTRING">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ACCOUNT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="HOLDER"/>
				<xsd:element ref="BANK_NAME"/>
				<xsd:element ref="BANK_COUNTRY"/>
				<xsd:element ref="BANK_CODE"/>
				<xsd:element ref="BANK_ACCOUNT"/>
				<xsd:element ref="PAYMENT_TERM" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ACCOUNTING_INFO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="COST_CATEGORY_ID"/>
				<xsd:element ref="COST_TYPE" minOccurs="0"/>
				<xsd:element ref="COST_ACCOUNT" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ADDRESS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NAME"/>
				<xsd:element ref="NAME2" minOccurs="0"/>
				<xsd:element ref="NAME3" minOccurs="0"/>
				<xsd:element ref="DEPARTMENT" minOccurs="0"/>
				<xsd:element ref="CONTACT" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="STREET" minOccurs="0"/>
				<xsd:element ref="ZIP" minOccurs="0"/>
				<xsd:element ref="BOXNO" minOccurs="0"/>
				<xsd:element ref="ZIPBOX" minOccurs="0"/>
				<xsd:element ref="CITY" minOccurs="0"/>
				<xsd:element ref="STATE" minOccurs="0"/>
				<xsd:element ref="COUNTRY" minOccurs="0"/>
				<xsd:element ref="VAT_ID" minOccurs="0"/>
				<xsd:element ref="PHONE" minOccurs="0"/>
				<xsd:element ref="FAX" minOccurs="0"/>
				<xsd:element ref="EMAIL" minOccurs="0"/>
				<xsd:element ref="PUBLIC_KEY" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="URL" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
		<!-- ***** START deactivate identity-constraints ***** -->
		<xsd:unique name="uniquePUBLIC_KEYtype">
			<xsd:selector xpath="PUBLIC_KEY"/>
			<xsd:field xpath="@type"/>
		</xsd:unique>
		<xsd:unique name="uniqueCONTACT_NAME">
			<xsd:selector xpath="CONTACT"/>
			<xsd:field xpath="CONTACT_NAME"/>
		</xsd:unique>
		<!-- ***** END deactivate identity-constraints   ***** -->
	</xsd:element>
	<xsd:element name="AGREEMENT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AGREEMENT_ID"/>
				<xsd:element ref="AGREEMENT_LINE_ID" minOccurs="0"/>
				<xsd:element ref="AGREEMENT_START_DATE" minOccurs="0"/>
				<xsd:element ref="AGREEMENT_END_DATE" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="dtSTRING">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="50"/>
						<!-- ***** predefined values for attribute 'type' of element 'AGREEMENT' *****
							"(buyer | supplier)"
						-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AGREEMENT_END_DATE" type="dtDATETIME"/>
	<xsd:element name="AGREEMENT_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AGREEMENT_LINE_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="32"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AGREEMENT_START_DATE" type="dtDATETIME"/>
	<xsd:element name="ALT_CUSTOMER_ORDER_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ARTICLE_ID">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SUPPLIER_AID"/>
				<xsd:element ref="INTERNATIONAL_AID" minOccurs="0"/>
				<xsd:element ref="BUYER_AID" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DESCRIPTION_SHORT" minOccurs="0"/>
				<xsd:element ref="DESCRIPTION_LONG" minOccurs="0"/>
				<xsd:element ref="MANUFACTURER_INFO" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
		<!-- ***** START deactivate identity-constraints ***** -->
		<xsd:unique name="uniqueBUYER_AID">
			<xsd:selector xpath="BUYER_AID"/>
			<xsd:field xpath="@type"/>
		</xsd:unique>
		<!-- ***** END deactivate identity-constraints   ***** -->
	</xsd:element>
	<xsd:element name="ARTICLE_PRICE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PRICE_AMOUNT"/>
				<xsd:element ref="PRICE_FLAG" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="PRICE_LINE_AMOUNT"/>
				<xsd:element ref="TAX" minOccurs="0"/>
				<xsd:element ref="TAX_AMOUNT" minOccurs="0"/>
				<xsd:element ref="PRICE_QUANTITY" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:pattern value="net_list|gros_list|net_customer|nrp|net_customer_exp|udp_\w{1,16}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
		<!-- ***** START deactivate identity-constraints ***** -->
		<xsd:unique name="uniquePRICE_FLAG">
			<xsd:selector xpath="PRICE_FLAG"/>
			<xsd:field xpath="@type"/>
		</xsd:unique>
		<!-- ***** END deactivate identity-constraints   ***** -->
	</xsd:element>
	<xsd:element name="BANK_ACCOUNT">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BANK_CODE">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="20"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BANK_COUNTRY" type="dtCOUNTRIES"/>
	<xsd:element name="BANK_NAME">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BOXNO">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="20"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BUYER_AID">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typeBUYER_AID">
					<xsd:attribute name="type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="dtSTRING">
								<xsd:maxLength value="50"/>
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BUYER_PARTY">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PARTY"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CARD">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CARD_NUM"/>
				<xsd:element ref="CARD_AUTH_CODE" minOccurs="0"/>
				<xsd:element ref="CARD_REF_NUM" minOccurs="0"/>
				<xsd:element ref="CARD_EXPIRATION_DATE"/>
				<xsd:element ref="CARD_TYPE"/>
				<xsd:element ref="CARD_TYPE_OTHER" minOccurs="0"/>
				<xsd:element ref="CARD_HOLDER_NAME"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CARD_AUTH_CODE">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="10"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CARD_EXPIRATION_DATE" type="dtDATETIME"/>
	<xsd:element name="CARD_HOLDER_NAME">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CARD_NUM">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CARD_REF_NUM">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CARD_TYPE">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CARD_TYPE_OTHER">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CASH">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PAYMENT_TERM"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CATALOG_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="20"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CATALOG_NAME">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="100"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CATALOG_REFERENCE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CATALOG_ID"/>
				<xsd:element ref="CATALOG_VERSION"/>
				<xsd:element ref="CATALOG_NAME" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CATALOG_VERSION">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="7"/>
				<xsd:minLength value="3"/>
				<xsd:pattern value="[0-9]{1,3}\.[0-9]{1,3}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CHECK">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PAYMENT_TERM"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CITY">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CONTACT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CONTACT_NAME"/>
				<xsd:element ref="PHONE" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="FAX" minOccurs="0"/>
				<xsd:element ref="EMAIL" minOccurs="0"/>
				<xsd:element ref="PUBLIC_KEY" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="URL" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
		<!-- ***** START deactivate identity-constraints ***** -->
		<xsd:unique name="uniquePUBLIC_KEYtype2">
			<xsd:selector xpath="PUBLIC_KEY"/>
			<xsd:field xpath="@type"/>
		</xsd:unique>
		<!-- ***** END deactivate identity-constraints   ***** -->
	</xsd:element>
	<xsd:element name="CONTACT_NAME">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CONTROL_INFO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="STOP_AUTOMATIC_PROCESSING" minOccurs="0"/>
				<xsd:element ref="GENERATOR_INFO" minOccurs="0"/>
				<xsd:element ref="GENERATION_DATE" minOccurs="0"/>
				<xsd:element ref="MIME_ROOT" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="COST_ACCOUNT">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="64"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="COST_CATEGORY_ID">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typeCOST_CATEGORY_ID">
					<xsd:attribute name="type" use="optional">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="32"/>
								<xsd:enumeration value="cost_center"/>
								<xsd:enumeration value="project"/>
								<xsd:enumeration value="work_order"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="COST_TYPE">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="64"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="COUNTRY" type="dtCOUNTRIES"/>
	<xsd:element name="DEBIT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PAYMENT_TERM"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DELIVERY_COMPLETED" type="dtBOOLEAN"/>
	<xsd:element name="DELIVERY_DATE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DELIVERY_START_DATE"/>
				<xsd:element ref="DELIVERY_END_DATE"/>
			</xsd:sequence>
			<xsd:attribute name="type" default="fixed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="optional"/>
						<xsd:enumeration value="fixed"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DELIVERY_END_DATE" type="dtDATETIME"/>
	<xsd:element name="DELIVERYNOTE_DATE" type="dtDATETIME"/>
	<xsd:element name="DELIVERYNOTE_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DELIVERY_PARTY">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PARTY"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DELIVERY_REFERENCE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DELIVERYNOTE_ID"/>
				<xsd:element ref="LINE_ITEM_ID"/>
				<xsd:element ref="DELIVERY_DATE" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DELIVERY_START_DATE" type="dtDATETIME"/>
	<xsd:element name="DEPARTMENT">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DESCRIPTION_LONG">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="64000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DESCRIPTION_SHORT">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="80"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DISPATCHNOTIFICATION_DATE" type="dtDATETIME"/>
	<xsd:element name="DISPATCHNOTIFICATION_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EMAIL">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="100"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FAX">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="30"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FINAL_DELIVERY_PARTY">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PARTY"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GENERATION_DATE" type="dtDATETIME"/>
	<xsd:element name="GENERATOR_INFO">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="HOLDER">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="INCOTERM">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="INTERNATIONAL_AID">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typeINTERNATIONAL_AID">
					<xsd:attribute name="type" use="optional">
						<xsd:simpleType>
							<xsd:restriction base="dtSTRING">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="50"/>
								<!-- ***** predefined values for attribute 'type' of element 'INTERNATIONAL_AID' *****
									"(EAN | GTIN)" 
								-->
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="INTERNATIONAL_RESTRICTIONS">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typeINTERNATIONAL_RESTRICTIONS">
					<xsd:attribute name="type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="dtSTRING">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="32"/>
								<!-- ***** predefined values for attribute 'type' of element 'INTERNATIONAL_RESTRICTIONS' *****
									"(national | us-embargo | un-embargo | wto-embargo | other)" 
								-->
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="INVOICE_DATE" type="dtDATETIME"/>
	<xsd:element name="INVOICE_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="250"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="INVOICE_PARTY">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PARTY"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LINE_ITEM_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LOCATION">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MANUFACTURER_AID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MANUFACTURER_INFO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MANUFACTURER_NAME"/>
				<xsd:element ref="MANUFACTURER_AID"/>
				<xsd:element ref="MANUFACTURER_TYPE_DESCR" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MANUFACTURER_NAME">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MANUFACTURER_TYPE_DESCR">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MEANS_OF_TRANSPORT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MEANS_OF_TRANSPORT_ID"/>
				<xsd:element ref="MEANS_OF_TRANSPORT_NAME" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="type">
				<xsd:simpleType>
					<xsd:restriction base="dtSTRING">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="50"/>
						<!-- ***** predefined values for attribute 'type' of element 'MEANS_OF_TRANSPORT' *****
							"(maritime | rail | road | air | multimodal)"
						-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MEANS_OF_TRANSPORT_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="32"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MEANS_OF_TRANSPORT_NAME">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MIME">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MIME_TYPE" minOccurs="0"/>
				<xsd:element ref="MIME_SOURCE"/>
				<xsd:element ref="MIME_DESCR" minOccurs="0"/>
				<xsd:element ref="MIME_ALT" minOccurs="0"/>
				<xsd:element ref="MIME_PURPOSE" minOccurs="0"/>
				<xsd:element ref="MIME_ORDER" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MIME_ALT">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MIME_DESCR">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MIME_INFO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MIME" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MIME_ORDER" type="dtINTEGER"/>
	<xsd:element name="MIME_PURPOSE">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="20"/>
				<!-- ***** predefined values for element 'MIME_PURPOSE' *****
					"(thumbnail | normal | detail | data_sheet | logo | others)" 
				-->
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MIME_ROOT">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="100"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MIME_SOURCE">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MIME_TYPE">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="30"/>
				<xsd:minLength value="1"/>
				<!-- ***** predefined values for element 'MIME_TYPE' *****
					"(url | application/pdf | image/jpeg | image/gif | text/html | text/plain | ...)" 
				-->
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NAME">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NAME2">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NAME3">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ORDERCHANGE_DATE" type="dtDATETIME"/>
	<xsd:element name="ORDERCHANGE_SEQUENCE_ID" type="dt_COUNT"/>
	<xsd:element name="ORDERRESPONSE_DATE" type="dtDATETIME"/>
	<xsd:element name="ORDER_DATE" type="dtDATETIME"/>
	<xsd:element name="ORDER_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ORDER_ITEM">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LINE_ITEM_ID"/>
				<xsd:element ref="ARTICLE_ID"/>
				<xsd:element ref="QUANTITY"/>
				<xsd:element ref="ORDER_UNIT"/>
				<xsd:element ref="ARTICLE_PRICE" minOccurs="0"/>
				<xsd:element ref="DELIVERY_DATE" minOccurs="0"/>
				<xsd:element ref="SOURCING_INFO" minOccurs="0"/>
				<xsd:element ref="SHIPMENT_PARTIES" minOccurs="0"/>
				<xsd:element ref="ACCOUNTING_INFO" minOccurs="0"/>
				<xsd:element ref="PARTIAL_SHIPMENT_ALLOWED" minOccurs="0"/>
				<xsd:element ref="TRANSPORT" minOccurs="0"/>
				<xsd:element ref="INTERNATIONAL_RESTRICTIONS" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SPECIAL_TREATMENT_CLASS" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="MIME_INFO" minOccurs="0"/>
				<xsd:element ref="REMARK" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<!-- ***** START deactivate identity-constraints ***** -->
		<xsd:unique name="uniqueREMARK">
			<xsd:selector xpath="REMARK"/>
			<xsd:field xpath="@type"/>
		</xsd:unique>
		<!-- ***** END deactivate identity-constraints   ***** -->
	</xsd:element>
	<xsd:element name="ORDER_PARTIES">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BUYER_PARTY"/>
				<xsd:element ref="SUPPLIER_PARTY"/>
				<xsd:element ref="INVOICE_PARTY" minOccurs="0"/>
				<xsd:element ref="SHIPMENT_PARTIES" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ORDER_REFERENCE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ORDER_ID"/>
				<xsd:element ref="LINE_ITEM_ID"/>
				<xsd:element ref="ORDER_DATE" minOccurs="0"/>
				<xsd:element ref="AGREEMENT" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CATALOG_REFERENCE" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ORDER_UNIT" type="dtPUNIT"/>
	<xsd:element name="PACKAGE_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PACKAGE_INFO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PACKAGE_ID"/>
				<xsd:element ref="PACKAGE_TYPE" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PACKAGE_TYPE">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PARTIAL_SHIPMENT" type="dtBOOLEAN"/>
	<xsd:element name="PARTIAL_SHIPMENT_ALLOWED" type="dtBOOLEAN"/>
	<xsd:element name="PARTY">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PARTY_ID" minOccurs="0"/>
				<xsd:element ref="ADDRESS" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PARTY_ID">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typePARTY_ID">
					<xsd:attribute name="type" use="optional">
						<xsd:simpleType>
							<xsd:restriction base="dtSTRING">
								<xsd:maxLength value="250"/>
								<xsd:minLength value="1"/>
								<!-- ***** predefined values for attribute 'type' of element 'PARTY_ID' *****
									"(duns | iln | buyer_specific | supplier_specific)">
								-->
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PAYMENT">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="CARD"/>
				<xsd:element ref="ACCOUNT"/>
				<xsd:element ref="DEBIT"/>
				<xsd:element ref="CHECK"/>
				<xsd:element ref="CASH"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PAYMENT_TERM">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typePAYMENT_TERM">
					<xsd:attribute name="type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="unece"/>
								<xsd:enumeration value="other"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PHONE">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typePHONE">
					<xsd:attribute name="type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="office"/>
								<xsd:enumeration value="mobile"/>
								<xsd:enumeration value="private"/>
								<xsd:enumeration value="other"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PRICE_AMOUNT" type="dtNUMBER"/>
	<xsd:element name="PRICE_CURRENCY" type="dtCURRENCIES"/>
	<xsd:element name="PRICE_FLAG">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="dtBOOLEAN">
					<xsd:attribute name="type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="dtSTRING">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PRICE_LINE_AMOUNT" type="dtNUMBER"/>
	<xsd:element name="PRICE_QUANTITY" type="dtNUMBER"/>
	<xsd:element name="PUBLIC_KEY">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typePUBLIC_KEY">
					<xsd:attribute name="type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="dtSTRING">
								<xsd:maxLength value="50"/>
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QUANTITY" type="dtNUMBER"/>
	<xsd:element name="QUOTATION_DATE" type="dtDATETIME"/>
	<xsd:element name="QUOTATION_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RECEIPTACKNOWLEDGEMENT_DATE" type="dtDATETIME"/>
	<xsd:element name="RECEIPTACKNOWLEDGEMENT_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RECEIPT_DATE" type="dtDATETIME"/>
	<xsd:element name="REMARK">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typeREMARK">
					<xsd:attribute name="type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="dtSTRING">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="250"/>
								<!-- ***** predefined values for attribute 'type' of element 'REMARK' *****
									"(general | rfq | quotation | order | orderchange | orderresponse | dispatchnotifiaction | 
									receiveacknoledgement | invoice | deliverynote | transport)"
								-->
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RFQ_DATE" type="dtDATETIME"/>
	<xsd:element name="RFQ_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SHIPMENT_PARTIES">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DELIVERY_PARTY"/>
				<xsd:element ref="FINAL_DELIVERY_PARTY" minOccurs="0"/>
				<xsd:element ref="TRANSPORT_PARTY" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SOURCING_INFO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="QUOTATION_ID" minOccurs="0"/>
				<xsd:element ref="AGREEMENT" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CATALOG_REFERENCE" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
		<!-- ***** START deactivate identity-constraints ***** -->
		<xsd:key name="keyAGREEMENT">
			<xsd:selector xpath="AGREEMENT"/>
			<xsd:field xpath="AGREEMENT_ID"/>
			<xsd:field xpath="AGREEMENT_LINE_ID"/>
		</xsd:key>
		<!-- ***** END deactivate identity-constraints   ***** -->
	</xsd:element>
	<xsd:element name="SPECIAL_TREATMENT_CLASS">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="typeSPECIAL_TREATMENT_CLASS">
					<xsd:attribute name="type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="dtSTRING">
								<xsd:maxLength value="50"/>
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="STATE">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="STOP_AUTOMATIC_PROCESSING">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="STREET">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SUPPLIER_AID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="32"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SUPPLIER_ORDER_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SUPPLIER_ORDER_ITEM_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SUPPLIER_ORDER_REFERENCE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SUPPLIER_ORDER_ID"/>
				<xsd:element ref="SUPPLIER_ORDER_ITEM_ID"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SUPPLIER_PARTY">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PARTY"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TAX" type="dtNUMBER"/>
	<xsd:element name="TAX_AMOUNT" type="dtNUMBER"/>
	<xsd:element name="TERMS_AND_CONDITIONS">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="250"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TOTAL_AMOUNT" type="dtNUMBER"/>
	<xsd:element name="TOTAL_ITEM_NUM" type="dt_COUNT"/>
	<xsd:element name="TOTAL_TAX_AMOUNT" type="dtNUMBER"/>
	<xsd:element name="TRANSPORT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="INCOTERM"/>
				<xsd:element ref="LOCATION" minOccurs="0"/>
				<xsd:element ref="TRANSPORT_REMARK" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TRANSPORT_PARTY">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PARTY"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TRANSPORT_REMARK">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="64000"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="URL">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="100"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="VALID_END_DATE" type="dtDATETIME"/>
	<xsd:element name="VALID_START_DATE" type="dtDATETIME"/>
	<xsd:element name="VAT_ID">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="50"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ZIP">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="20"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ZIPBOX">
		<xsd:simpleType>
			<xsd:restriction base="dtSTRING">
				<xsd:maxLength value="20"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
